.input-wrapper {
  --n-height: 28px;
  display: flex;

  .ant-input {
    padding: 0;
    height: var(--n-height);
    line-height: var(--n-height);
    background-color: transparent;
    border-color: transparent;

  }

  .ant-input:focus,
  .ant-input-focused {
    box-shadow: none;
  }

  background: #242424;
  /* 比 section 稍深一点的背景 */
  border: 1px solid #3d3d3d;
  /* 深灰色边框 */
  color: #efefef;
  /* 亮灰色文字 */
  // padding: 6px 12px;
  padding: 0 12px;
  border-radius: 4px;
  font-size: 13px;
  outline: none;

  transition: all 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  background-color: rgba(255, 255, 255, 0.1);

  .ant-input {
    color: rgba(255, 255, 255, 0.82);
  }

  &:focus-within {
    border-color: #4db3a4;
    box-shadow: 0 0 0 2px rgba(77, 179, 164, 0.1);
    background: #2a2a2a;
    /* 聚焦时稍微变亮 */
    background-color: rgb(81, 214, 169, .1);
  }
}