@if (state.selectedElement(); as el) {
  <div class="p-2 py-4">
    <app-property-control [config]="baseConfig" [(values)]="el.props" (changed)="refreshCanvas()" />
  </div>

  <app-collapsible-group title="滤镜/变换" [showSwitch]="true" [(enabled)]="el.props.filterOn">
    <app-property-control [config]="filterConfig" [(values)]="el.props" (changed)="refreshCanvas()" />
  </app-collapsible-group>

  <app-collapsible-group title="滤镜/变换" [showSwitch]="true">
    <div class="row">
      <label>模糊度</label>
      <input type="range" />
    </div>
  </app-collapsible-group>
}