<div class="settings-panel">
  <!-- 顶部分类 Tab -->
  <div class="settings-tabs">
    <div class="tab-item" [class.active]="active() === 'customize'" (click)="changeActive('customize')"><i class="icon-customize"></i>定制</div>
    <div class="tab-item" [class.active]="active() === 'animation'" (click)="changeActive('animation')"><i class="icon-animation"></i>动画</div>
    <div class="tab-item" [class.active]="active() === 'data'" (click)="changeActive('data')"><i class="icon-data"></i>数据</div>
    <div class="tab-item" [class.active]="active() === 'event'" (click)="changeActive('event')"><i class="icon-event"></i>事件</div>
  </div>

  <div class="settings-scroll-content">
    @if (active() === 'customize') {
      <app-customize-panel></app-customize-panel>
    }
  </div>
</div>