<!-- canvas.component.html -->
<div class="canvas-wrapper-container">
  <!-- 左上角交汇处的小方块 -->
  <div class="ruler-corner"></div>

  <!-- 水平标尺 -->
  <div class="ruler-h-container" (scroll)="onScrollH($event)">
    <app-ruler type="h"></app-ruler>
  </div>

  <!-- 垂直标尺 -->
  <div class="ruler-v-container" (scroll)="onScrollV($event)">
    <app-ruler type="v"></app-ruler>
  </div>
  <div class="canvas-viewport" (click)="onCanvasClick($event)" (scroll)="syncRulers($event)">

    <!-- 变换层：缩放核心 -->
    <div #canvasBoard class="canvas-board" cdkDropList [style.width.px]="CANVAS_WIDTH" [style.height.px]="CANVAS_HEIGHT"
      [style.transform]="'scale(' + state.scale() + ')'" (cdkDropListDropped)="onDrop($event)">

      <!-- 背景网格 -->
      <div class="grid-background"></div>

      <!-- 组件渲染循环 -->
      @for (widget of state.widgets(); track widget.id) {
      <div class="widget-wrapper" [class.active]="state.selectedId() === widget.id" [style.left.px]="widget.x"
        [style.top.px]="widget.y" [style.width.px]="widget.w" [style.height.px]="widget.h"
        [style.z-index]="widget.zIndex" (mousedown)="state.selectedId.set(widget.id)" cdkDrag [cdkDragData]="widget.id"
        [cdkDragFreeDragPosition]="{ x: widget.x * state.scale(), y: widget.y * state.scale() }"
        (cdkDragStarted)="onWidgetDragStart(widget.id)" (cdkDragMoved)="onWidgetDragging($event)"
        (cdkDragEnded)="onWidgetDragEnd($event, widget)">

        <!-- 动态渲染业务组件 -->
        <ng-container
          *ngComponentOutlet="getWidgetComponent(widget.type); inputs: { config: widget.config }"></ng-container>

        <!-- 只有选中时显示的缩放手柄 -->
        @if (state.selectedId() === widget.id) {
        <app-resize-handlers [widget]="widget"></app-resize-handlers>
        }
      </div>
      }
    </div>


  </div>

  <!-- 底部状态栏 (缩放比例显示) -->
  <div class="canvas-footer" (mousedown)="$event.stopPropagation()" (click)="$event.stopPropagation()">
    <span>{{ (state.scale() * 100).toFixed(0) }}%</span>
    <input type="range" min="0.1" max="2" step="0.05" [value]="state.scale()" (input)="onScaleChange($event)">
  </div>
</div>