.control-grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  .control-row + .control-row {
    margin-top: 12px;
  }
  .control-row {
    display: flex;
    // grid-template-columns: 60px 1fr; // 固定标签宽度
    align-items: center;
    overflow: hidden;
    
    .control-label {
      font-size: 11px;
      color: #999;
      min-width: 60px;
    }
    .control-field {
      flex: 1;
      // max-width: 50%;
    }
  }

  .slider-group {
    display: flex;
    align-items: center;
    gap: 8px;
    
    input[type="range"] {
      flex: 1;
      height: 4px;
      accent-color: #00e5ff; // 亮蓝色主题
    }
    
    .value-text {
      font-size: 10px;
      color: #666;
      min-width: 40px;
      text-align: right;
    }
  }

  .number-input {
    background: #333;
    border: 1px solid #444;
    color: #fff;
    padding: 2px 6px;
    font-size: 12px;
    width: 60px;
    border-radius: 2px;
  }
}