<div class="control-grid">
  @for (item of config(); track item.key) {
    <div class="control-row" [style.width]="item.width ? item.width : '100%'">
      @if (item.label) {
        <label class="control-label">{{ item.label }}</label>
      }
      
      <div class="control-field">
        @switch (item.input) {
          @case ('progress') {
            <div class="slider-group">
              <input type="range" 
                     [min]="item.min" 
                     [max]="item.max" 
                     [(ngModel)]="values()[item.key]"
                     (ngModelChange)="onValueChange()" />
              <span class="value-text">
                {{ values()[item.key] }}{{ item.unit }}
              </span>
            </div>
          }

          @case ('number') {
            <app-input-number
              [label]="item.innerLabel"
              [(ngModel)]="values()[item.key]"
              (ngModelChange)="onValueChange()"
            ></app-input-number>
          }

          @case ('switch') {
            <input type="checkbox" 
                   [(ngModel)]="values()[item.key]"
                   (ngModelChange)="onValueChange()" />
          }

          @case ('string') {
            <app-input
              [maxLength]="item.maxLength"
              ></app-input>
          }
        }
      </div>
    </div>
  }
</div>